@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Montserrat', serif;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6F4EF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient(-45deg,  #23d5ab, #23a6d5, #23d5ab, #23a6d5);
         background-size: 400% 400%;
         animation: gradient 4.5s ease infinite;
      }

      @keyframes gradient {
         0% {
            background-position: 0% 50%;
         }
         50% {
            background-position: 100% 50%;
         }
         100% {
            background-position: 0% 50%;
         }
      }

.game-quiz-container{
    width: 40rem;
    height: 30rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    box-shadow: 0px 0px 25px -9px rgba(155,155,155,1);
}

.game-details-container{
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-details-container h1{
    font-size: 1.2rem;
}

.game-question-container{
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.game-question-container h1{
    font-size: 1.1rem;
    text-align: center;
    padding: 3px;
}

.game-options-container{
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 45%;
    height: 5rem;
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.1s;
    font-weight: 600;
    color: rgb(22, 22, 22);
    font-size: 70%; /* Atur ukuran font sesuai kebutuhan Anda */
    text-align: center; /* Tempatkan teks di tengah */
}

span label:hover{
    -ms-transform: scale(1, 1.1);
    -webkit-transform: scale(1, 1.1);
    transform: scale(1, 1.1);
    color:#16a271;
}

input[type="radio"] {
    position: relative;
    display: none;
}

input[type="radio"]:checked ~ .option {
    background: paleturquoise;
}

.next-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.next-button-container button{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.next-button-container button:hover{
    background-color: #16a271;
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb( 0, 0, 0);
    background-color: rgba( 0, 0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
    height: 20rem;
    width: 25rem;
    background-color: rgb( 43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
    font-size: 1.3rem;
    height: 3rem;
    color: lightgray;
    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.modal-button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.modal-button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb( 252, 242, 241);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}

.modal-button-container button:hover{
    background-color: rgb( 83, 82, 82);
}

@media(min-width : 300px) and (max-width : 350px){
    .game-quiz-container{
        width: 90%;
        height: 80vh;
    }
    .game-details-container h1{
        font-size: 0.8rem;
    }
    .game-question-container{
        height: 6rem;
    }
    .game-question-container h1{
        font-size: 0.9rem;
    }
    .game-options-container span{
        width: 90%;
        height: 2.5rem;
    }
    .game-options-container span label{
        font-size: 0.8rem;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@media(min-width : 350px) and (max-width : 700px){
    .game-quiz-container{
        width: 90%;
        height: 80vh;
    }
    .game-details-container h1{
        font-size: 1rem;
    }
    .game-question-container{
        height: 8rem;
    }
    .game-question-container h1{
        font-size: 0.9rem;
    }
    .game-options-container span{
        width: 90%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

body{
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform:rotateX(0)
    }
}